---
import { ClientRouter } from "astro:transitions";
import "@/styles/reset.css";
import "@/styles/global.css";
import Header from "./header.astro";
import Footer from "./footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Haystack Labs</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
