---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Participants - Haystack Labs"
  description="A collection of participants from Haystack Labs"
>
  <h1>Participants</h1>
</Layout>
