---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const participants = await getCollection("participants");
const sorted_participants = participants.sort((a, b) =>
  a.data.name.localeCompare(b.data.name)
);
---

<Layout
  title="Participants - Haystack Labs"
  description="A collection of participants from Haystack Labs"
>
  <section class="section">
    <div class="wrapper">
      <h1 class="title">Participants</h1>
      <div class="participants">
        {
          sorted_participants.map((participant) => (
            <p>
              <a href={`/participants/${participant.id}`}>
                {participant.data.name}
              </a>
            </p>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .participants {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1rem;
  }
</style>
