---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
---

<Layout
  title="Years - Haystack Labs"
  description="A collection of years from Haystack Labs"
>
  <section class="section">
    <div class="wrapper">
      <h1 class="text-inverse">Years</h1>
      <ul>
        <li>
          <a href="/years/2025">2025</a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
